body {
  background-color: #EBF4DD;
}
p {
    align-content: center;
    text-align: center;
    font-size: 16pt;
  color: black;
  font-family: Arial, Helvetica, sans-serif
}
h1, h2, h3 {
  color: #5A7863;
  align-content: center;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;

}
h1 {
    font-size: 24pt;
}
h2 {
    font-size:20pt;
}
h3 {
    font-size: 16pt;
}
a {
    color: #5A7863;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}
a:hover{
    color:#3B4953;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
header {
    align-items: center;
    text-align: center;
    font-size: 20pt;
}
div {
  display: flex;
  flex-direction: row;
}
img {
    padding: 40px;
}
